body {
  margin: 0;
  background: #FBD914;
  color: #0058AB;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

/* 전체 가운데 */
.login-wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로그인 박스 */
.login-box {
  width: 100%;
  max-width: 400px;
  background: #FBD914;
  padding: 40px;
  border-radius: 10px;
}

/* 제목 */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.desc {
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

/* 입력창 */
.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* 버튼 */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #0058AB;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* 하단 링크 */
.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link a {
  color: #000;
  margin: 0 10px;
  font-size: 14px;
  text-decoration: none;
}